#wrapper {
		margin: 0 auto;
		padding: @line 0;
		width: 720px;
	@media all and (max-width: 799px) 	{
		width: 90%;
		padding: @line 5%;
		}
	
}

header {
	clear: both;
}

nav {
	clear: both;
	margin: @line 0;
}

#content {
	.episode {
		margin-bottom: @line;
	}
}