/* General Layout (*salutes*) */

html, body {
	height: 100%;
}

#wrapper {
	height: 100%;
	width: 90%;
	max-width: 600px;
	margin: @line auto;
	@media all and (min-width: @break1) 	{
		margin: 0;
		padding: @line 2.5%;
		width: 95%;
		max-width: 1200px;
	}
}

header, #sidebar {
	clear: both;
	width: 100%;
	margin: 0 auto;
	#sidebar-content {
		
	}
	@media all and (min-width: @break1) {
		clear: none;
		float: left;
		width: 30%;
		max-width: 340px;
		padding-right: 2.5%;
		#sidebar-content {
			display: block;
		}
	}
}



	header {
		text-align: center;
		@media all and (min-width: @break1) 	{
			text-align: left;
		}
		clear: both;
	}

	nav {
		clear: both;
		margin: @line 0;
}



#content {
	width: 100%;
	padding-bottom: @line;
	@media all and (min-width: @break1) 	{
		width: 62.5%;
		float: right;
		.episode {
			margin-bottom: @line;
		}
	}
}

#footer {
	width: 100%;
	clear: both;
}

/* Now: Layouts for specific types of pages */

.page {
	margin-top: @line;
}