html, body {
	height: 100%;
}

#wrapper {
		height: 100%;
		margin: 0;
		padding: @line 0;
		width: 820px;
	@media all and (max-width: 799px) 	{
		width: 90%;
		padding: @line 5%;
		}
	
}

#sidebar {
	position: fixed;
	width: 249px;
	float: left;
	padding-left: 20px;
}

	header {
		clear: both;
	}

	nav {
		clear: both;
		margin: @line 0;
}

#content {
	width: 530px;
	float: right;
	.episode {
		margin-bottom: @line;
	}
}