/* Basic Styles (Colour, Type, etc.) */

html {
	font-style: "Helvetica Neue", Helvetica, serif;
	font-size: @base-size;
	line-height: @line;
}

body {
	background-color: @bg;
	color: @text; 
}

a {
	text-decoration: none;
	color: @highlight;
	border-bottom: 1px solid @sub;
	&:hover {
		color: @highlight2;
		border-color: @highlight2;
		.candy-trans;
	}
}

h1 {
	margin: 0;
	font-size: 3rem;
	line-height: 4rem;
}

h2 {
	margin: 0;
	font-size: @line;
	line-height: 2rem;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

.content p {
	margin-bottom: @line;
}

/* Side bar */

#sidebar {
	border: none;
	@media all and (min-width: @break1) 	{
		border-right: 1px solid @sub;
	}
}

/* Site Header */

#site-title {
	a {
		color: @text;
		.hide-link;
	}	
}

#tagline {
	margin-left: 1rem;
	font-size: 1.3rem;
	font-style: italic;
}

/* Navigation */

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline;
			font-size: 1.2rem;
			margin-right: 0.5rem;
			a {
				border: none;
			}
		}
	}
}

/* Podcast Episodes */

.episode {
	margin-bottom: @line;
	.header {
		margin-bottom: @line;
		.episode-icon {
			float: left;
			width: 40px;
			.hide-link-hardcore;
			img.play {
				margin-left: -7px;
			}
			img.calendar {
				margin-top: 3px;
			}
		}
		.title {
			a {
				border: none;
				span {
					color: @text;
					&:after{ content: ": "}
				}
			}
		}
		.meta-info {
			margin-left: 40px;
			color: @sub;
			a {
					.hide-link;
				}
			.id { // wohoooo unicoooode!
				
			}
			.date {
				&:before{content: " \2014\2002 ";}
			}
			.crew {
				&:before{content: " \2014\2002 Dabei: "}
				a {
					text-decoration: none;
					color: @sub;
					.itemized;
					.hide-link;
				}
			}
			.live-info {
				&:before{content: " \2014\2002 ";}
			}
		}
	}
	.content {
			margin-left: 40px;
		}
}

	/* Planned Episodes from the future! */
	
	.episode-planned {
		.header {
			.episode-icon {
				
			}
			.title {
				a { 
					color: @highlight-less;
					span { color: @text-less;}
					&:hover {
						color: @highlight2;
					}
				}
			}
			.meta-info {
				font-size: 0.8rem;
			}
		}
	}
