/* 
	podding stylesheet 
	by Marcel Langer
	Thanks to:
		- Necolas for http://necolas.github.com/normalize.css/
		- http://www.defaulticon.com
*/

@import "normalize";


// Time to define some shit

@highlight: #FA6900; // main colour for links etc.
@highlight2: #69D2E7; // colour it fades to, also for other highlighting
@highlight-less: desaturate(@highlight, 20%); // for less emphasized things
@text: #333; // for body text and anything else that needs to be readable
@text-less: #555; // for less emphasized text
@sub: #aaa; // for subtle borders etc.
@bg: #fefefe; // background colour
@bg-less: #efefef; // slightly brighter bg colour for zebra striping tables etc
@bg2: #333; // not entirely sure right now

@base-size: 16px;
@line: 1.5rem;

@break1: 799px; // the first breakpoint for reasons (going from large)

@import "snippets";
@import "layout";
@import "looksies";

