/* 
	podding stylesheet 
	by Marcel Langer
	Thanks to:
		- Necolas for http://necolas.github.com/normalize.css/
*/

@import "normalize";


// Time to define some shit

@highlight: #db6400;
@highlight2: spin(@highlight, -10);
@text: #333;
@sub: #777;
@bg: #eee;

@base-size: 16px;
@line: 1.5rem;

@import "snippets";
@import "layout";
@import "looksies";

