header.instapaper_ignore
	h1#site-title: a href="/" Retinacast
	p#tagline der podcast f&uuml;r's auge
	nav
		ul
			li: a href="/info" 
				| <i class="icon-book"></i> <span>Info<span>rmationen</span></span>
			li: a href="/crew" 
				| <i class="icon-group"></i> <span>Crew</span>
			li: a href="/abo" 
				| <i class="icon-rss"></i><span>Abo<span>nnieren</span></span>
			li: a href="" 
				| <i class="icon-comments-alt"></i> <span>Feedback</span>
			li: a href="" 
				| <i class="icon-briefcase"></i> <span>Archiv</span>
			

					
				